In [106]:
import pandas as pd

file_path = '/Users/christopherorem/Downloads/United_States_Offense_Type_by_Agency_2022v2.xlsx'

df = pd.read_excel(file_path)

In [107]:
# Display the updated DataFrame
print(df.head())

     State            City  Population  Total Offenses  \
0  ALABAMA       Abbeville        2390             301
1  ALABAMA      Adamsville        4233             528
2  ALABAMA         Addison         672              72
3  ALABAMA       Alabaster       33974            1524
4  ALABAMA  Alexander City       14476            1834

   Crimes Against Persons  Crimes Against Property  Crimes Against Society  \
0                      96                       76                     129
1                      72                      332                     124
2                      20                       41                      11
3                     293                      979                     252
4                     696                      816                     322

   Crimes Rate
0     0.125941
1     0.124734
2     0.107143
3     0.044858
4     0.126692

In [108]:
df['State'].head()

0    ALABAMA
1    ALABAMA
2    ALABAMA
3    ALABAMA
4    ALABAMA
Name: State, dtype: object

In [109]:
states_abbreviations = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY"
}

In [110]:
state_abbrev_upper = {key.upper(): value for key, value in states_abbreviations.items()}

df['State Abbreviation'] = df['State'].map(state_abbrev_upper)

In [111]:
df.head()

,State,City,Population,Total Offenses,Crimes Against Persons,Crimes Against Property,Crimes Against Society,Crimes Rate,State Abbreviation
0,ALABAMA,Abbeville,2390,301,96,76,129,0.125941,AL
1,ALABAMA,Adamsville,4233,528,72,332,124,0.124734,AL
2,ALABAMA,Addison,672,72,20,41,11,0.107143,AL
3,ALABAMA,Alabaster,33974,1524,293,979,252,0.044858,AL
4,ALABAMA,Alexander City,14476,1834,696,816,322,0.126692,AL

In [112]:
file_path = '/Users/christopherorem/Downloads/simplemaps_uszips_basicv1.85/uszips.xlsx'

df2 = pd.read_excel(file_path)

df2.head()

,zip,lat,lng,city,state_id,state_name,zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,16834.0,100.9,72001,Adjuntas,"{""72001"": 98.74, ""72141"": 1.26}",Adjuntas|Utuado,72001|72141,False
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,37642.0,479.2,72003,Aguada,"{""72003"": 100}",Aguada,72003,False
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,49075.0,551.7,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,5590.0,48.7,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,25542.0,265.7,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.82, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False

In [113]:
df2 = df2.drop(columns=['lat', 'lng', 'state_name', 'zcta',
       'population', 'density', 'county_fips', 'county_name', 'county_weights',
       'county_names_all', 'county_fips_all', 'imprecise'])
#df2.columns
df2.head()

   zip       city state_id
0  601   Adjuntas       PR
1  602     Aguada       PR
2  603  Aguadilla       PR
3  606    Maricao       PR
4  610     Anasco       PR

In [114]:
df2 = df2.rename(columns={'city': 'City', 'state_id': 'State Abbreviation'})

merged_df = pd.merge(df, df2, on=['State Abbreviation', 'City'])

merged_df.head()

,State,City,Population,Total Offenses,Crimes Against Persons,Crimes Against Property,Crimes Against Society,Crimes Rate,State Abbreviation,zip
0,ALABAMA,Abbeville,2390,301,96,76,129,0.125941,AL,36310
1,ALABAMA,Adamsville,4233,528,72,332,124,0.124734,AL,35005
2,ALABAMA,Addison,672,72,20,41,11,0.107143,AL,35540
3,ALABAMA,Alabaster,33974,1524,293,979,252,0.044858,AL,35007
4,ALABAMA,Alabaster,33974,1524,293,979,252,0.044858,AL,35114

In [115]:
merged_df.to_excel('crime_data_w_zip.xlsx', index=False)