In [2]:
import sys
!{sys.executable} -m pip install pandas-datareader

Collecting pandas-datareader
  Downloading https://files.pythonhosted.org/packages/3f/16/56c9d648b503619ebe96f726b5f642b68e299b34162ed2d6faa9d7966b7d/pandas_datareader-0.10.0-py3-none-any.whl (109kB)
Requirement already satisfied: pandas>=0.23 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from pandas-datareader) (1.3.5)
Collecting lxml (from pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/9a/05/8ef2856a0d47450e52ebe9f63137f3ad228f902458659143f5be3c3c546f/lxml-5.2.2-cp37-cp37m-win_amd64.whl (3.8MB)
Requirement already satisfied: requests>=2.19.0 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.9.0.post0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2024.6.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.3.2)
Requirement already satisfied: six>=1.5 in c:\users\wheat\onedrive\dev\project_zipliner\zipliner\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Installing collected packages: lxml, pandas-datareader
Successfully installed lxml-5.2.2 pandas-datareader-0.10.0

You are using pip version 19.0.3, however version 24.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [19]:
import pandas_datareader.data as web
import datetime as dt
import pandas as pd

pd.options.display.max_rows = 100

In [62]:
start = dt.datetime(2010, 1, 1)
end = dt.datetime.today().date()

ir_30y_mort = web.DataReader('MORTGAGE30US', 'fred', start, end)
ir_ff = web.DataReader('FEDFUNDS', 'fred', start, end)
pce96 = web.DataReader('PCEC96', 'fred', start, end)
pce = web.DataReader('PCE', 'fred', start, end)

pce96['PCEC96_MOM'] = pce96['PCEC96'] / pce96['PCEC96'].shift(1) -1
pce96['PCEC96_YOY'] = pce96['PCEC96'] / pce96['PCEC96'].shift(12) -1

pce['PCE_MOM'] = pce['PCE'] / pce['PCE'].shift(1) -1
pce['PCE_YOY'] = pce['PCE'] / pce['PCE'].shift(12) -1

In [50]:
ir_30y_mort

            MORTGAGE30US
DATE
2010-01-07          5.09
2010-01-14          5.06
2010-01-21          4.99
2010-01-28          4.98
2010-02-04          5.01
...                  ...
2024-05-23          6.94
2024-05-30          7.03
2024-06-06          6.99
2024-06-13          6.95
2024-06-20          6.87

[755 rows x 1 columns]

In [51]:
ir_30y_mort.tail(100)

            MORTGAGE30US
DATE
2022-07-28          5.30
2022-08-04          4.99
2022-08-11          5.22
2022-08-18          5.13
2022-08-25          5.55
2022-09-01          5.66
2022-09-08          5.89
2022-09-15          6.02
2022-09-22          6.29
2022-09-29          6.70
2022-10-06          6.66
2022-10-13          6.92
2022-10-20          6.94
2022-10-27          7.08
2022-11-03          6.95
2022-11-10          7.08
2022-11-17          6.61
2022-11-23          6.58
2022-12-01          6.49
2022-12-08          6.33
2022-12-15          6.31
2022-12-22          6.27
2022-12-29          6.42
2023-01-05          6.48
2023-01-12          6.33
2023-01-19          6.15
2023-01-26          6.13
2023-02-02          6.09
2023-02-09          6.12
2023-02-16          6.32
2023-02-23          6.50
2023-03-02          6.65
2023-03-09          6.73
2023-03-16          6.60
2023-03-23          6.42
2023-03-30          6.32
2023-04-06          6.28
2023-04-13          6.27
2023-04-20          6.39
2023-04-27          6.43
2023-05-04          6.39
2023-05-11          6.35
2023-05-18          6.39
2023-05-25          6.57
2023-06-01          6.79
2023-06-08          6.71
2023-06-15          6.69
2023-06-22          6.67
2023-06-29          6.71
2023-07-06          6.81
2023-07-13          6.96
2023-07-20          6.78
2023-07-27          6.81
2023-08-03          6.90
2023-08-10          6.96
2023-08-17          7.09
2023-08-24          7.23
2023-08-31          7.18
2023-09-07          7.12
2023-09-14          7.18
2023-09-21          7.19
2023-09-28          7.31
2023-10-05          7.49
2023-10-12          7.57
2023-10-19          7.63
2023-10-26          7.79
2023-11-02          7.76
2023-11-09          7.50
2023-11-16          7.44
2023-11-22          7.29
2023-11-30          7.22
2023-12-07          7.03
2023-12-14          6.95
2023-12-21          6.67
2023-12-28          6.61
2024-01-04          6.62
2024-01-11          6.66
2024-01-18          6.60
2024-01-25          6.69
2024-02-01          6.63
2024-02-08          6.64
2024-02-15          6.77
2024-02-22          6.90
2024-02-29          6.94
2024-03-07          6.88
2024-03-14          6.74
2024-03-21          6.87
2024-03-28          6.79
2024-04-04          6.82
2024-04-11          6.88
2024-04-18          7.10
2024-04-25          7.17
2024-05-02          7.22
2024-05-09          7.09
2024-05-16          7.02
2024-05-23          6.94
2024-05-30          7.03
2024-06-06          6.99
2024-06-13          6.95
2024-06-20          6.87

In [52]:
ir_ff

            FEDFUNDS
DATE
2010-01-01      0.11
2010-02-01      0.13
2010-03-01      0.16
2010-04-01      0.20
2010-05-01      0.20
...              ...
2024-01-01      5.33
2024-02-01      5.33
2024-03-01      5.33
2024-04-01      5.33
2024-05-01      5.33

[173 rows x 1 columns]

In [53]:
ir_ff.tail(36)

            FEDFUNDS
DATE
2021-06-01      0.08
2021-07-01      0.10
2021-08-01      0.09
2021-09-01      0.08
2021-10-01      0.08
2021-11-01      0.08
2021-12-01      0.08
2022-01-01      0.08
2022-02-01      0.08
2022-03-01      0.20
2022-04-01      0.33
2022-05-01      0.77
2022-06-01      1.21
2022-07-01      1.68
2022-08-01      2.33
2022-09-01      2.56
2022-10-01      3.08
2022-11-01      3.78
2022-12-01      4.10
2023-01-01      4.33
2023-02-01      4.57
2023-03-01      4.65
2023-04-01      4.83
2023-05-01      5.06
2023-06-01      5.08
2023-07-01      5.12
2023-08-01      5.33
2023-09-01      5.33
2023-10-01      5.33
2023-11-01      5.33
2023-12-01      5.33
2024-01-01      5.33
2024-02-01      5.33
2024-03-01      5.33
2024-04-01      5.33
2024-05-01      5.33

In [59]:
pce96

             PCEC96  PCEC96_MOM  PCEC96_YOY
DATE
2010-01-01  11156.8         NaN         NaN
2010-02-01  11198.6    0.003747         NaN
2010-03-01  11252.1    0.004777         NaN
2010-04-01  11275.1    0.002044         NaN
2010-05-01  11303.2    0.002492         NaN
...             ...         ...         ...
2023-12-01  15655.8    0.004588    0.032589
2024-01-01  15609.1   -0.002983    0.019030
2024-02-01  15659.3    0.003216    0.021781
2024-03-01  15723.0    0.004068    0.027956
2024-04-01  15714.6   -0.000534    0.025965

[172 rows x 3 columns]

In [55]:
ir_30y_mort_mo = ir_30y_mort.resample('MS').mean()

In [63]:
df_rates = pd.concat([ir_ff,ir_30y_mort_mo,pce['PCE_YOY'],pce96['PCEC96_YOY']], axis=1).dropna()
df_rates.head()

            FEDFUNDS  MORTGAGE30US   PCE_YOY  PCEC96_YOY
DATE
2011-01-01      0.17        4.7550  0.045564    0.029507
2011-02-01      0.16        4.9525  0.044306    0.025378
2011-03-01      0.14        4.8360  0.045658    0.024040
2011-04-01      0.10        4.8400  0.046139    0.020736
2011-05-01      0.09        4.6375  0.045187    0.017022

In [64]:
df_rates.tail(60)

            FEDFUNDS  MORTGAGE30US   PCE_YOY  PCEC96_YOY
DATE
2019-05-01      2.39        4.0720  0.031341    0.016539
2019-06-01      2.38        3.8025  0.033079    0.018706
2019-07-01      2.40        3.7650  0.035564    0.020880
2019-08-01      2.13        3.6160  0.036513    0.022003
2019-09-01      2.04        3.6050  0.038366    0.025031
2019-10-01      1.83        3.6880  0.035567    0.022000
2019-11-01      1.55        3.6950  0.036412    0.022833
2019-12-01      1.55        3.7200  0.049083    0.033240
2020-01-01      1.55        3.6240  0.051624    0.034141
2020-02-01      1.58        3.4650  0.049251    0.032405
2020-03-01      0.65        3.4500 -0.031397   -0.042256
2020-04-01      0.05        3.3060 -0.143575   -0.146947
2020-05-01      0.05        3.2325 -0.075965   -0.079914
2020-06-01      0.08        3.1625 -0.025300   -0.031943
2020-07-01      0.09        3.0160 -0.012901   -0.021556
2020-08-01      0.10        2.9350 -0.006698   -0.017990
2020-09-01      0.09        2.8900  0.006829   -0.005438
2020-10-01      0.09        2.8340  0.008125   -0.002887
2020-11-01      0.09        2.7650 -0.000191   -0.011441
2020-12-01      0.09        2.6840  0.004104   -0.009252
2021-01-01      0.09        2.7350  0.015632   -0.000289
2021-02-01      0.08        2.8100  0.009284   -0.009176
2021-03-01      0.07        3.0825  0.135185    0.105408
2021-04-01      0.07        3.0600  0.296509    0.250134
2021-05-01      0.06        2.9625  0.199119    0.151403
2021-06-01      0.08        2.9750  0.148384    0.100380
2021-07-01      0.10        2.8680  0.130605    0.081706
2021-08-01      0.09        2.8425  0.130105    0.080074
2021-09-01      0.08        2.9000  0.118997    0.067797
2021-10-01      0.08        3.0675  0.129998    0.072109
2021-11-01      0.08        3.0675  0.140762    0.076344
2021-12-01      0.08        3.0980  0.134943    0.068833
2022-01-01      0.08        3.4450  0.122367    0.055738
2022-02-01      0.08        3.7625  0.137241    0.067162
2022-03-01      0.20        4.1720  0.098738    0.027664
2022-04-01      0.33        4.9825  0.091863    0.023828
2022-05-01      0.77        5.2300  0.094072    0.025215
2022-06-01      1.21        5.5220  0.089487    0.016833
2022-07-01      1.68        5.4125  0.087030    0.019284
2022-08-01      2.33        5.2225  0.085038    0.018388
2022-09-01      2.56        6.1120  0.085683    0.018611
2022-10-01      3.08        6.9000  0.078326    0.013696
2022-11-01      3.78        6.8050  0.068745    0.008696
2022-12-01      4.10        6.3640  0.068122    0.012779
2023-01-01      4.33        6.2725  0.079403    0.023145
2023-02-01      4.57        6.2575  0.076284    0.023023
2023-03-01      4.65        6.5440  0.062719    0.017387
2023-04-01      4.83        6.3425  0.060847    0.015595
2023-05-01      5.06        6.4250  0.058845    0.018420
2023-06-01      5.08        6.7140  0.053299    0.020610
2023-07-01      5.12        6.8400  0.059181    0.025164
2023-08-01      5.33        7.0720  0.054227    0.020051
2023-09-01      5.33        7.2000  0.055465    0.021039
2023-10-01      5.33        7.6200  0.050890    0.020865
2023-11-01      5.33        7.4420  0.056476    0.028680
2023-12-01      5.33        6.8150  0.059637    0.032589
2024-01-01      5.33        6.6425  0.044055    0.019030
2024-02-01      5.33        6.7760  0.047107    0.021781
2024-03-01      5.33        6.8200  0.055731    0.027956
2024-04-01      5.33        6.9925  0.053192    0.025965

In [65]:
df_rates.corr()

              FEDFUNDS  MORTGAGE30US   PCE_YOY  PCEC96_YOY
FEDFUNDS      1.000000      0.846437  0.088302   -0.049102
MORTGAGE30US  0.846437      1.000000  0.098015   -0.078345
PCE_YOY       0.088302      0.098015  1.000000    0.914824
PCEC96_YOY   -0.049102     -0.078345  0.914824    1.000000